card
{
	width: 20em;
/*
	height: 20.865em;
*/
	
	border-style: solid;
	border-color: black;
	border-width: 1em;
	
	display:block;
}

name, creator, artist
{
	height: 2em;
	width: 90%;
	display: block;
	
	padding-right: 10px;
	padding-left: 10px;
	
	border-style: solid;
	border-color: black;
	
	border-bottom: 0.25em solid;
	border-left: none;
	border-right: none;
}

type, spirit_type
{
	height: 2em;
	padding-left: 10px;
	display: inline-block;
}

spirit_type:before
{
	content: "(";
}

spirit_type:after
{
	content: ")";
}

text
{
/*
	height: 10em;
*/
	width: 90%;
	display: block;
	
	white-space: pre-line;
	
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	
	
	border-style: solid;
	border-color: black;
	
	border-top: 0.25em solid;
	border-bottom: 0.25em solid;
	border-left: none;
	border-right: none;
}

spirit, offense, health, cost
{
	height: 1.25em;
	width: 15%;
	
	padding: 0.1em;
	
	text-align: center;
	
	border: 0.25em solid black;
	
	display: inline-block;
}

arturi
{
	font-size: 8px;
	display: block;
}

